nav {
  display: flex;
  /* justify-content: space-between; */
  padding-top: 2rem;
  padding-left: 4em;
}
nav > ul {
  margin-left: 5em;
  display: flex;
  flex-basis: 50%;
  justify-content: space-evenly;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */

  letter-spacing: 0.01em;

  color: #967297;
}
a:hover,
a:active {
  color: #b122b4;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
.logo {
  width: 124px;
  height: 58px;
}
header > .container {
  width: 80vw;
  margin: auto;
  margin-top: 2em;
}
.container > .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.column {
  flex: 50%;
}
.content {
  margin-right: 4em;
}
.column h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 60px;
  letter-spacing: 0.02em;

  color: #b122b4;
}
.column p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;

  color: #967297;
}
.hire-btn {
  width: 231px;
  height: 62px;
  background: #b122b4;
  border-radius: 5px;
  align-self: flex-end;
  border: none;
  margin-top: 4em;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  /* identical to box height */

  letter-spacing: 0.01em;

  color: #ffffff;
}
.header-img-box {
  width: 655px;
  height: 509px;
  border-radius: 0px 0px 0px 200px;
  /* box-shadow: 2px 2px 2px; */
  background: url('./resources/desktop.jpg');
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  backface-visibility: visible;
}
.header-img {
  width: 100%;
  height: 100%;
}

.services {
  width: 60vw;
  /* height: 409.86px; */
  margin: auto;
  background: rgba(177, 34, 180, 0.04);
  border-radius: 5.93994px;
  /* margin-top: 2em; */
}
.title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 52px;
  letter-spacing: 0.02em;

  color: #b122b4;
  text-align: center;
}
.services_wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card {
  text-align: center;
  align-items: center;
  width: 40%;
  height: 177.01px;
  background: #ffffff;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
  border-radius: 5.93994px;
  padding: 1.5em;
  margin-bottom: 1.5em;
}
.card_title {
  margin-top: 0.2em;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.02em;
  color: #b122b4;
}
.card_content {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #967297;
}
.about {
  text-align: center;
  margin-top: 2.3em;
}
.about_container {
  margin: auto;
  width: 75vw;
  /* height: 499px; */
  padding: 1em;
  background: rgba(177, 34, 180, 0.04);
  border-radius: 5.93994px;
}
.about_text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.02em;

  color: #967297;
}
.sub_title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 52px;
  letter-spacing: 0.02em;

  color: #967297;
}
.team_container {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}
.team_card {
  text-align: center;
  align-items: center;
  width: 38%;
  /* height: 177.01px; */
  background: #ffffff;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
  border-radius: 5.93994px;
  padding: 1.5em;
  margin-bottom: 1.5em;
  padding-bottom: 1em;
}
.team_img {
  width: 143.32px;
  height: 143.32px;
  border-radius: 50%;
}
.name {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */

  letter-spacing: 0.02em;

  color: #b122b4;
  margin: 0;
}
.post {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  letter-spacing: 0.02em;

  color: #967297;
  margin: 0;
}
